<% @complete_tasks.each do |task2| %>
	<h4 class="complete" id="complete_task_<%=task2.id%>">
	<%= task2.title + ":" +	task2.content %>
	<%= link_to("remove", {:action=>"remove", :controller=>"tasks"}, :remote=>true) %>

	</h4>
<% end %>

