
	<h4 class="incomplete" id="incomplete_task_<%=@task.id%>">
	<%= @task.title + ":" + @task.content %>
	<%= link_to("update", {:action=>"update", :controller=>"tasks"}, 
		:id=>@task.id, :is_use=>0, :remote=>true) %>
	</h4>
