<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
 <%= javascript_include_tag("application") %>
</head>
<body>
<div class="header">
	<h3>Simple Header Layout </h3>
</div>
<!-- before yield-->
<%= yield %>
	<div class="footer">
		<h3>copyright 2016  , Tp.HCM</h3>
	</div>
</body>
<!-- after yield-->
</body>
</html>
